@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /*font type*/
/* Fullscreen center layout */
.login-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, var(--bg-color), var(--bg-color));
    display: flex;
  }

  .login-left {
    flex: 1;
    overflow: hidden;
  }

  .left-img {
    margin-top: 5px;
    margin-left: 5px;
    width: 98%;
    height: 98%;
    /*object-fit: cover;*/
  }

  .login-right {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  /* Form box styling */
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 24px;
    color: #333;
  }
  
  /* Input fields */
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  /* Button styling */
  .login-box button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  
  spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  
  .spinner {
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
  }
  