:root{ /*default theme*/
    --bg-color1: #a50404;
    --bg-color2: #e40a0a;
    --text-color:white;
  }
.dark-theme{ /*dark theme*/
    --bg-color1: #660284;
    --bg-color2: #c70ae4;
    --text-color:white;
}

body{
    transition: background 0.5s ease ,color 0.5s ease; /*transition on changing theme*/
}
.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,var(--bg-color1), var(--bg-color2)); /*smooth transition between two colors at a 45-degree angle*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    display: flex;
    align-items: center;
    gap:10px;
}

.searchbar input{
    height: 50px;
    border:none;
    outline:none;
    border-radius: 40px;
    padding-left: 30px;
    color: black ;
}

.searchbar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: white;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    color: var(--text-color);
    font-size: 80px;
    line-height: 1;
}

.location{
    color:var(--text-color);
    font-size: 40px;
}

.weatherdata{
    width:100%;
    margin-top:40px;
    color:var(--text-color);
    display: flex;
    justify-content: space-between;
}

.weatherdata .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 20;
}

.weatherdata .col span{
    display: block;
    font-size: 15px;
}

.weatherdata .col img{
    width: 25px;
    margin-top: 10px;
}

.error{
    color:white;
}

.spinner{
    width: 50px;
    height: 50px;
    margin: 20px;
    display: block;
}

.refresh-btn{
    padding: 5px 8px;
    border:none;
    font-size: 15px;
    border-radius: 7px;
}